Repository voxpupuli/puppet-zypprepo, pull requests merged in 2020-04, with the labels that each got.

#44 Add versionlock support
  .fixtures.yml
  README.md
  manifests/plugin/versionlock.pp
  manifests/versionlock.pp
  metadata.json
  spec/classes/plugin/versionlock_spec.rb
  spec/defines/versionlock_spec.rb
  types/versionlockstring.pp
Labels: enhancement

#45 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#47 release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
