Repository voxpupuli/puppet-zypprepo, pull requests merged in 2023-08, with the labels that each got.

#77 modulesync 7.0.0
  .github/CONTRIBUTING.md
  .msync.yml
  Gemfile
  spec/spec_helper.rb
  spec/unit/provider/zypprepo/inifile_spec.rb
Labels: modulesync

#79 allow puppetlabs/concat 9.x
  metadata.json
Labels: enhancement

#80 release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
